@if (cvResource.isLoading() == true) {
<div>Chargement...</div>
}

@else if (cvResource.hasValue()) {
<div class="container mt-4">
    <div>
        <a routerLink="/cvs">
            <button class="btn btn-secondary">
                Revenir à la liste
            </button>
        </a>
    </div>
    <br>
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h3>Détails du CV</h3>
        </div>
        <div class="card-body">
            <p><strong>ID:</strong> {{ cvResource.value().id }}</p>
            <p><strong>Nom:</strong> {{ cvResource.value().name }}</p>
            <p><strong>Prénom:</strong> {{ cvResource.value().firstname }}</p>
            <p><strong>Age:</strong> {{ cvResource.value().age }}</p>
            <p><strong>CIN:</strong> {{ cvResource.value().cin }}</p>
            <p><strong>Job:</strong> {{ cvResource.value().job }}</p>
            <p><strong>Photo:</strong></p>
            <div>
                <img [src]="cvResource.value().path" alt="Photo CV" class="img-fluid rounded mb-3"
                    style="max-width:200px;">
            </div>

            <div class="d-flex justify-content-end">
                <button class="btn btn-success me-4" (click)="hireCv()">Embaucher</button>
                <button class="btn btn-danger" (click)="deleteCv()">Supprimer et revenir à la
                    liste</button>
            </div>
        </div>
    </div>
</div>
} @else {
<div class="mt-4">
    <a routerLink="/cvs">
        <button class="btn btn-secondary">
            Revenir à la liste
        </button>
    </a>
</div>
<br>
<div class="alert alert-warning mt-4">
    Aucun CV trouvé.
</div>
}